@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navMenu-2 {
    padding: 5px;
    background-color: #ff7700;
    color: #ffff;
}

.navMenu-1, .navMenu-3, .navMenu-4, .navMenu-5, .navMenu-6 {
    color: black;
}

.about-hero-section {
    width: 100%;
    height: auto;
    /* position: absolute; */
}

.about-hero-section img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.about-content {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.about-content h1 {
    font-size: 4.5ch;
    font-family: "Google Sans", sans-serif;
    color: #fff;
}

.about-content h3 {
    font-size: 2ch;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.about-content span {
    color: #ff7700;
}

.about-sec1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec1 h1 {
    margin-top: 1ch;
    font-size: 2.1ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec1-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2ch;
}

.about-sec1-info img {
    width: 95%;
    height: auto;
    border-radius: 1ch;
    object-fit: cover;
}

.about-sec1-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec1-text h1 {
    margin-bottom: 0.5ch;
    font-size: 3.5ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec1-text hr {
    width: 3.5ch;
    height: 2px;
    background-color: #ff7700;
    border: none;
}

.about-sec1-text h3 {
    margin-top: 3ch;
    margin-bottom: 1ch;
    font-size: 1.9ch;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.about-sec1-text p {
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec1-services {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2ch;
}

.about-sec1-services-1 {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    gap: 0.5ch;
    font-size: 1.6ch;
    font-weight: 500;
}

.about-sec1-services-1 span i {
    color: #ff7700;
    padding-right: 0.5ch;
}

.about-sec1-services-2 {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    gap: 0.5ch;
    font-size: 1.6ch;
    font-weight: 500;
    margin-top: 0.5ch;
}

.about-sec1-services-2 span i {
    color: #ff7700;
    padding-right: 0.5ch;
}

.about-sec2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3ch;
}

.about-sec2-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec2-div h1 {
    margin-bottom: 0.5ch;
    font-size: 3.5ch;
    text-align: center;
    font-family: "Google Sans", sans-serif;
}

.about-sec2-div hr {
    background-color: #ff7700;
    width: 7ch;
    height: 2px;
    border: none;
}

.about-sec2-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3ch;
}

.about-sec2-divs1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec2-sub-divs {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #ffff;
    border-radius: 1ch;
    padding: 1ch;
    /* box-shadow: 2px 2px 10px #3a4a5b9a; */
}

.about-sec2-img {
    width: 20%;
    height: auto;
}

.about-sec2-img img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.about-sec2-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-sec2-sub-divs h1 {
    font-size: 2.1ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec2-sub-divs p {
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3ch;
}

.about-sec3-divs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec3-divs h1 {
    font-size: 3ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec3-divs hr {
    width: 8ch;
    height: 2px;
    border: none;
    background-color: #ff7700;
}

.about-sec3-div {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1ch;
}

.about-sec3-div1 {
    display: flex;
    flex-direction: row;
    gap: 0.5ch;
    margin-top: 1ch;
}

.about-sec3-div1 i {
    font-size: 2ch;
    color: #ff7700;
}

.about-sec3-div2 p {
    margin-top: 0.5ch;
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec3-div3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8ch;
    margin-top: 0.5ch;
}

.about-sec3-div3-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8ch;
    margin-top: 0.5ch;
}

.about-sec3-div3 img {
    width: 5ch;
}

.about-sec3-div3-head h3 {
    font-size: 2ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec3-div3-head i {
    color: blue;
}

.about-sec3-div3 p {
    color: #1f3042b8;
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3ch;
}

.about-sec4-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec4-divs h1 {
    font-size: 3ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec4-divs h1 span {
    color: #ff7700;
}

.about-sec4-divs hr {
    width: 6ch;
    height: 2px;
    border: none;
    background-color: #ff7700;
    margin-top: 0.5ch;
}

.about-sec4-divs h3 {
    width: 90%;
    text-align: center;
    margin-top: 1ch;
    font-weight: 500;
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec4-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 85%);
    justify-content: center;
    align-items: center;
    margin-top: 1ch;
}

.about-sec4-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1ch;
}

.about-sec4-div img {
    width: 95%;
    object-fit: cover;
    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
}

.about-sec4-text {
    width: 95%;
    padding: 2ch;
    color: #fff;
    background-color: #1F3042;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom-left-radius: 1ch;
    border-bottom-right-radius: 1ch;
}

.about-sec4-text p {
    color: #ff7700;
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec4-text h2 {
    font-weight: 500;
    font-size: 2.5ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec4-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 2ch; */
    margin-top: 1ch;
}

.about-sec4-icon i {
    border-radius: 5px;
    padding: 1ch;
    clip-path: circle(45% at 50% 50%);
}

.about-sec4-icon i:hover {
    color: #ff7700;
    background-color: #fff;
    padding: 1ch;
}

.about-sec4-divs button {
    margin-top: 2ch;
    padding: 1ch;
    font-size: 2ch;
    border: 1px solid #ff7700;
    border-radius: 5ch;
    text-transform: uppercase;
    color: #ff7700;
    background-color: transparent;
    font-family: "Readex Pro", sans-serif;
    transition: 0.5s ease-in-out;
}

.about-sec4-divs button:hover {
    background-color: #ff7700;
    border: none;
    color: #fff;
    box-shadow: 1px 1px 10px #ff7700;
}

.about-sec5 {
    margin-top: 3ch;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec5-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec5-divs h1 {
    font-size: 3ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec5-divs h1 span {
    color: #ff7700;
}

.about-sec5-divs hr {
    width: 5ch;
    height: 2px;
    background-color: #ff7700;
    border: none;
    margin-top: 1px;
}

.about-sec5-div {
    margin-top: 1ch;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
    align-items: center;
    gap: 2ch;
}

.about-sec5-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1f30422f;
    border-radius: 1.5ch;
    padding: 3ch;
    transition: 0.1s ease-in-out;
}

.about-sec5-sub-div i {
    width: 3ch;
    font-size: 4ch;
    color: #ff7700;
}

.about-sec5-sub-div h3 {
    font-size: 2ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec5-sub-div p {
    text-align: center;
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.about-sec5-sub-div:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
    border: none;
    border-top: 3px solid #ff7700;
}

.about-sec5-divs button {
    margin-top: 2ch;
    padding: 1ch;
    padding-left: 2ch;
    padding-right: 2ch;
    font-size: 2ch;
    border: 1px solid #ff7700;
    border-radius: 5ch;
    text-transform: uppercase;
    color: #ff7700;
    background-color: transparent;
    font-family: "Readex Pro", sans-serif;
    transition: 0.5s ease-in-out;
}

.about-sec5-divs button:hover {
    background-color: #ff7700;
    border: none;
    color: #fff;
    box-shadow: 1px 1px 10px #ff7700;
}

.about-sec6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sec6-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3ch;
}

.about-sec6-div h1 {
    font-size: 3ch;
    font-family: "Google Sans", sans-serif;
}

.about-sec6-div hr {
    width: 5ch;
    height: 2px;
    border: none;
    margin-top: 5px;
    background-color: #ff7700;
}

.about-sec6-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
    align-items: center;
    gap: 1ch;
    margin-top: 1ch;
}

.about-sec6-gallery img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}