*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
}

.blog-container {
    width: 100%;
    height: auto;
}

.navMenu-3 {
    padding: 5px;
    background-color: #ff7700;
    color: #ffff;
}

.navMenu-1, .navMenu-2  , .navMenu-4, .navMenu-5, .navMenu-6 {
    color: black;
}

.blog-hero-section {
    width: 100%;
    height: auto;
    /* position: absolute; */
}

.blog-hero-section img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.blog-content {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.blog-content h1 {
    font-size: 4.5ch;
    font-family: "Google Sans", sans-serif;
    color: #fff;
}

.blog-content h3 {
    font-size: 2ch;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.blog-content span {
    color: #ff7700;
}

.blog-sec1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5ch;
}

.blog-sec1-divs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-sec1-div1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-sec1-div1-card {
    width: 100%;
    height: 90vh;
}

.blog-sec1-div1 img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 1ch;
}

.blog-sec1-div1-text {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(0%, -100%);
    background: linear-gradient(to top, #1f3042, transparent);
    padding: 2ch;
    border-radius: 1ch;
    position: relative;
}

.blog-sec1-div1-text h1 {
    width: 8ch;
    display: flex;
    justify-content: center;
    padding: 0.5ch;
    border-radius: 10ch;
    border: none;
    background-color: #ff7700;
    font-size: 1.5ch;
    font-weight: 500;
    font-family: "Google Sans", sans-serif;
    color: #ffff;
}

.blog-sec1-div1-text h2 {
    font-size: 2.3ch;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #ffff;
}

.blog-sec1-div1-text p {
    margin-top: 2ch;
    font-size: 1.5ch;
    font-family: "Open Sans", sans-serif;
    color: #ffff;
}

.blog-sec1-div1-text h3 {
    margin-top: 2ch;
    font-size: 1.5ch;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #ff7700;
}

.blog-sec1-div1-text h3 span {
    color: #ffff;
}

.blog-sec1-div1-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2ch;
}

.blog-sec1-div1-row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2ch;
}

.blog-sec1-div1-row1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.blog-sec1-div1-row1-text {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2ch;
}

.row1-text {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}

.row1-text h1 {
    width: 8ch;
    display: flex;
    justify-content: center;
    padding: 0.5ch;
    border-radius: 10ch;
    border: none;
    background-color: #ff7700;
    font-size: 1.5ch;
    font-weight: 500;
    font-family: "Google Sans", sans-serif;
    color: #ffff;
}

.row1-text span {
    font-size: 1.5ch;
    font-family: "Open Sans", sans-serif;
    color: #1f3042;
}

.blog-sec1-div1-row1-text h2 {
    margin-top: 1ch;
    font-size: 2ch;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.blog-sec1-div1-row1-text h3 {
    margin-top: 1ch;
    font-size: 1.5ch;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #ff7700;
}

.blog-sec1-div1-row1-text h3 span {
    color: #1f3042;
}

.blog-sec1-div2 {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2ch;
}

.blog-sec1-div2-header {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 38%);
    justify-content: flex-start;
    gap: 2ch;
}

.tab-btn {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 1ch;
    border: none;
    border-radius: 3ch;
    font-size: 1.6ch;
    font-weight: 500;
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
    color: #1f3042;
    font-family: "Open Sans", sans-serif;
}

.tab-btn.active {
    background: #ff7700;
    color: white;
}

.blog-sec1-div2-wrapper {
    /* position: relative; */
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2ch;
}

.blog-sec1-div2-main.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog-sec1-div2-main {
    /* position: absolute; */
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .4s ease;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2ch;
}

.blog-sec1-div2-news {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3ch;
    padding-bottom: 2ch;
    border-bottom: 1px solid #1f30425e;
}

.blog-sec1-div2-news img {
    width: 40%;
    height: 15vh;
    border-radius: 1ch;
    object-fit: cover;
}

.blog-sec1-div2-text {
    margin-left: 1.5ch;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-sec1-div2-text h1 {
    padding-bottom: 1px;
    border-radius: 3ch;
    display: flex;
    justify-content: flex-start;
    color: #1f3042;
    font-size: 1.6ch;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.blog-sec1-div2-text hr {
    width: 4ch;
    margin-bottom: 1ch;
    border: none;
    height: 1px;
    background-color: #ff7700;
}

.blog-sec1-div2-text p {
    font-size: 1.8ch;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.blog-sec1-div2-text h3 {
    margin-top: 1.5ch;
    font-size: 1.6ch;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.blog-sec2 {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-sec2-divs {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    justify-content: center;
    align-items: center;
}

.blog-sec2-div {
    /* width: 90%; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px #1f304241;
    margin-bottom: 2ch;
    border-radius: 1ch;
}

.blog-sec2-div img {
    width: 100%;
    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
    object-fit: cover;
}

.blog-sec2-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2ch;
    margin-bottom: 2ch;
}

.blog-sec2-text h1 {
    font-size: 1.6ch;
    color: #1f30428d;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.blog-sec2-text p {
    font-size: 2ch;
    font-family: "Open Sans", sans-serif;
}

.blog-sec2-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2ch;
}

.blog-sec2-img img {
    width: 5ch;
    object-fit: cover;
}

.blog-sec2-date {
    margin-left: 1ch;
}

.blog-sec2-date h3 {
    font-weight: 500;
    font-size: 2ch;
    font-family: "Open Sans", sans-serif;
}

.blog-sec2-date h4 {
    color: #1f30428d;
    font-weight: 500;
    font-size: 1.6ch;
    font-family: "Open Sans", sans-serif;
}

.blog-sec3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog-sec3-divs {
    width: auto;
    display: grid;
    grid-template-columns: repeat(7, 18%);
    align-items: center;
    justify-content: center;
    gap: 1ch;
    margin-bottom: 2ch;
}

.blog-sec3-divs i {
    padding: 1.2ch 0.5ch;
    text-align: center;
    border-radius: 1ch;
    box-shadow: 0px 3px 5px #1f30423e;
    font-size: 1.5ch;
}

.span-dot {
    font-size: 1.5ch;
    padding: 1ch 0.5ch;
    text-align: center;
}

.span.active {
    color: white;
    background-color: #ff7700;
}

.span {
    font-size: 1.5ch;
    font-family: "Open Sans", sans-serif;
    padding: 1ch 0.5ch;
    text-align: center;
    border-radius: 1ch;
    box-shadow: 0px 3px 5px #1f30423e;
}