*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
}

.navMenu-3 {
    padding: 5px;
    background-color: #ff7700;
    color: #ffff;
}

.navMenu-1, .navMenu-2, .navMenu-4, .navMenu-5, .navMenu-6 {
    color: black;
}